---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
const pageTitle = "About me";

const identity = {
  firstName: "Ryan",
  country: "USA",
  occupation: "Software Engineer",
  hobbies: ["Reading", "3D-Printing", "Weight Training"]
}

const skills = ["HTML", "CSS", "Javascript", "Python", "Java", "C++"]
const happy = true;
const finished = false;
const goal = 3;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
<body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
    
    <h1>{pageTitle}</h1>
    <p> Currently unemployed</p>

    <p> A few fun facts about me</p>

    <ul>
      <li>
      My name is {identity.firstName}
      </li>
      <li>
        I am located in {identity.country} and open to work as a {identity.occupation}
      </li>
      {identity.hobbies.length >= 2 &&
        <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>      
      }
    </ul>

    <p>Some skills I have are:</p>
    <ul>
      {skills.map((skill) => <li>{skill}</li>)}
    </ul>

    {happy && <p>I am happy to be learning Astro!</p>}

    {finished && <p>I finished this tutorial!</p>}

    {goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
    
</body>